In [7]:
import numpy as np
import pandas as pd

df_2018 = pd.read_csv('../data/2018.csv')
df_2017 = pd.read_csv('../data/2017.csv')
df_2016 = pd.read_csv('../data/2016.csv')

df_2018

,posteam,yardline_100,game_date,game_seconds_remaining,down,ydstogo,score_differential,fourth_down_converted,fourth_down_failed,field_goal_attempt,punt_attempt
0,ATL,1.0,2018-09-06,3355.0,4.0,1.0,0.0,0.0,1.0,0.0,0.0
1,PHI,92.0,2018-09-06,3260.0,4.0,4.0,0.0,0.0,0.0,0.0,1.0
2,ATL,3.0,2018-09-06,3003.0,4.0,3.0,0.0,0.0,0.0,1.0,0.0
3,PHI,65.0,2018-09-06,2733.0,4.0,18.0,-3.0,0.0,0.0,0.0,1.0
4,ATL,89.0,2018-09-06,2658.0,4.0,19.0,3.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
3502,NO,70.0,2018-12-17,1483.0,4.0,4.0,-1.0,0.0,0.0,0.0,0.0
3503,NO,53.0,2018-12-17,1363.0,4.0,8.0,-1.0,0.0,0.0,0.0,1.0
3504,CAR,58.0,2018-12-17,536.0,4.0,16.0,-5.0,0.0,0.0,0.0,1.0
3505,NO,14.0,2018-12-17,150.0,4.0,1.0,5.0,1.0,0.0,0.0,0.0
3506,CAR,61.0,2018-12-17,38.0,4.0,5.0,-5.0,0.0,1.0,0.0,0.0

In [8]:
def get_classifier(df):
    conditions = [
        (df['fourth_down_converted'] == 1.0),
        (df['fourth_down_failed'] == 1.0),
        (df['field_goal_attempt'] == 1.0),
        (df['punt_attempt'] == 1.0)
    ]

    results = [0, 1, 2, 3]

    y = np.select(conditions, results)
    return y

def ready_data(df):
    y = get_classifier(df)
    df = df.drop(columns=['posteam', 'fourth_down_converted', 'fourth_down_failed', 'field_goal_attempt', 'punt_attempt', 'game_date'])
    return df, y

In [9]:
x, y = ready_data(df_2018)
print(x)

      yardline_100  game_seconds_remaining  down  ydstogo  score_differential
0              1.0                  3355.0   4.0      1.0                 0.0
1             92.0                  3260.0   4.0      4.0                 0.0
2              3.0                  3003.0   4.0      3.0                 0.0
3             65.0                  2733.0   4.0     18.0                -3.0
4             89.0                  2658.0   4.0     19.0                 3.0
...            ...                     ...   ...      ...                 ...
3502          70.0                  1483.0   4.0      4.0                -1.0
3503          53.0                  1363.0   4.0      8.0                -1.0
3504          58.0                   536.0   4.0     16.0                -5.0
3505          14.0                   150.0   4.0      1.0                 5.0
3506          61.0                    38.0   4.0      5.0                -5.0

[3507 rows x 5 columns]